.button-valid-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.button-valid-mobile{
        background-color: #5D3B8C; 
        border: 3px solid white;
         display: flex;
         justify-content: center;
         align-items: center;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        z-index: 101;
       /* position: fixed;
        top: 85vh;
        right: 5%*/
    }

    .button-valid-mobile:disabled {
    display: none;
  }

  .button-valid-mobile:hover {
    transform: scale(0.9);
  }


@media (max-width: 500px) {
  .button-valid-mobile {
    height: 50px;
     width: 50px;
     padding: 15%;
  }
}
