.open-button {
    display: flex;
    justify-content: space-between; /* Espace entre les deux éléments */
    align-items: center; /* Aligne verticalement les éléments au centre */
    border: 5px;
    width: 20vw;
    height: 70px;
    min-width: 250px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: black;
  }

  
  .button-text {
    flex: 1; /* Prend l'espace restant, assurant que le texte soit centré */
    text-align: center; /* Centre le texte */
  }
  
  .button-icon {
    margin-left: 10px; /* Ajoute un petit espace entre le texte et l'icône */
    padding: 2%;
  }


  @media (max-width: 800px) {

     .open-button {
      height: 55px;
      width: 60%;
    }

     .button-text {
      font-size: 1em;
     }


  }


  @media (max-width: 500px) {


    .open-button {
      height: 60px;
      width: 60%;
    }

     .button-text {
      font-size: 0.8em;
     }
  }

  @media (max-width: 350px) {

    .open-button {
      width: 100%;
    }

  }


   
