.popup-bckg {
    position: fixed; /* Le popup se fixe à l'écran */
    top: 0; /* En haut de la page */
    left: 0; /* À gauche de la page */
    width: 100vw; /* Prend toute la largeur de la fenêtre */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    gap: 30px;
}



.popup-delete{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #000000;
    background-color: white;
    opacity: 1;
    padding-bottom: 2%;
    gap: 20px;
}


.header-popup-delete {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    gap: 5px;
    border-bottom: 2px solid black;
    background-color: #5D3B8C;
    color: white;

}


.popup-delete-title {
    margin-bottom: 0%;
}



.delete-icon {
    position: relative;
    margin-top: -5px;
    font-size: 2.5em;
}

.desac-icon {
    position: relative;
    margin-top: -15px;
    font-size: 2em;
}


.avert-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.avert-title {
    text-align: center;
}

.avert-p1 {
    text-align: center;
    font-size: 2em;
}

.avert-p2 {
    text-align: center;

}

@media (max-width: 1600px) {
  .popup-delete {
    width: 60%;
  }
}


@media (max-width: 1000px) {
  .popup-delete {
    width: 70%;
  }
}



@media (max-width: 700px) {
  .popup-delete {
    width: 80%;
  }

  .popup-delete-title {
    font-size: 1.4em;
}
}




@media (max-width: 500px) {

.popup-bckg {
  gap: 10px;
}

.popup-delete {
    width: 90%;
     font-size: 17px;
     gap: 5px;
     margin-left: -3%;
}

.delete-icon { 
    font-size: 1.5em;
}

.desac-icon { 
    font-size: 1.2em;
}


  .avert-title {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    .avert-p1 {
        font-size: 1.2em;
        line-height: 1.4;
        margin-top: 10px;
        padding: 0 5px;
    }

    .avert-p2 {
        font-size: 0.8em;
        padding: 0 5px;
        line-height: 1.3;
    }

    .valid-popup {
        margin: 0px;
    }
} 
