.input-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width : 100%;
    
} 

.form-control-rounded {
    width : 60%;
    height: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1%;
    font-size: 20px;
    background-color: #f3eaff;
}

.searchbar-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid black;
  border-left: none;

}

.searchbar-icon {
  font-size: 1.5em;
}

.compenant-reset-searchbar {
    cursor: pointer;
    margin-top: 10px;
    font-size: 2.5em;
    background-color: white;
    position: absolute;
    margin-left: 70%;
}

.compenant-reset-searchbar:hover {
    transform: scale(0.9);
}

@media (max-width: 1200px) {
  .compenant-reset-searchbar {
    margin-left: 72%;
  }

}

@media (max-width: 1000px) {

    .form-control-rounded {
    width : 70%;
    }

    .compenant-reset-searchbar {
       margin-left: 87%;
    }
  }

@media (max-width: 800px) {

    .form-control-rounded, .searchbar-button, .compenant-reset-searchbar  {
      height: 45px;
    }

    .compenant-reset-searchbar  {
        margin-top: -1px;

    }




  }

@media (max-width: 700px) {


    .input-container {
      margin-top: 0px;
    }

  }

@media (max-width: 600px) {

    .form-control-rounded {
    width : 400px;
    }
  }

@media (max-width: 500px) {

    .form-control-rounded {
      width : 250px;
      font-size: 0.9em;
      text-align: center;
    }

    .compenant-reset-searchbar {
       font-size: 2em;
    }

    .compenant-reset-searchbar {
      margin-left: 70%;
    }
  }





