.input-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

.form-control-rounded {
    width : 1000px;
    height: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1%;
    font-size: 20px;
    background-color: #f3eaff;
}

@media (max-width: 1000px) {

    .form-control-rounded {
    width : 800px;
    }
  }

@media (max-width: 800px) {

    .form-control-rounded {
    width : 600px;
    height: 45px;
    }


  }

  @media (max-width: 700px) {


    .form-control-rounded {
    width : 500px;
    }

    .input-container {
      margin-top: 0px;
    }

  }

@media (max-width: 600px) {

    .form-control-rounded {
    width : 400px;
    }
  }

@media (max-width: 500px) {

    .form-control-rounded {
      width : 250px;
      font-size: 0.9em;
      text-align: center;
    }
  }

.searchbar-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid black;
  border-left: none;

}

.searchbar-icon {
  font-size: 1.5em;
}
