.section-map {
    display: flex;
    flex-direction: column;
    min-height: 120vh; 
    position: relative;
    overflow: hidden;
    margin-top: 90px;
    
} 

@media (max-width: 700px) {
    .section-map {
        min-height: 140vh; 
    }

}

@media (max-width: 500px) {
    .section-map {
        min-height: 180vh; 
    }

}
