.section {
    display: flex;
    flex-direction: column;
    min-height: 88vh; 
    position: relative;
    overflow: hidden;
    margin-top: 90px;
    
}

@media (max-width: 450px) {
    .section {
        min-height: 84vh; 
    }

}
