.titleArrow {
    width: 35%;
    margin-top: 4%;
    color : white;
    background-color:  #5D3B8C;
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: white solid 3px;
    margin-bottom: 1%;
    font-family: 'MedievalSharp', cursive;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

@media (max-width: 1200px) {
    .titleArrow {
        width: 50%;
    }

}


@media (max-width: 700px) {
    .titleArrow {
        width: 70%;
    }

}


@media (max-width: 460px) {

    .titleArrow {
        margin-top: 10%;
        margin-bottom: 2%;
        width: 90%;
        border: white solid 3px;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'MedievalSharp', cursive;
        font-size: 2em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
