

.deck-selected-attributs-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  position: fixed;
  width: 100%;
  background-color: white;
}

.deck-selected-name {
  font-size: 2em;
  font-weight: bold;
}

 .deck-card-desktop, .new-deck-card-desktop {  
    display: flex;
    flex-direction: column; 
    width: 60%;
    border-radius: 30px;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);;
    z-index: 1;

} 


.deck-card-desktop:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  border-color: #667eea;
}

.new-deck-card-desktop:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  border-color: #667eea;
}



@media (max-width: 1700px) {

    .deck-card-desktop, .new-deck-card-desktop {
      width: 60%;
    }

}


@media (max-width: 1450px) {

    .deck-card-desktop, .new-deck-card-desktop {
      width: 70%;
    }

}

@media (max-width: 1250px) {
    .deck-card-desktop, .new-deck-card-desktop {  
      width: 80%;
    }
}

@media (max-width: 1100px) {
    .deck-card-desktop, .new-deck-card-desktop {  
      width: 90%;
    }
}

.deck-selected-pp {
    width: 400px;
    height: 400px;
    border-radius: 50%; 
    object-fit: cover;
    margin-top: 3%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    border: 5px solid #667eea;
    background-color: white;

  }

  .deck-select-img { 
    width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid black;
  }
 
.deck-selected-attributs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%; 
    gap: 0px;
}

.deck-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    width: 100%;

}


@media (max-width: 700px) {
    .deck-content {
     flex-direction: column;
  }
}

.deck-name {
    background-color: #5D3B8C;
    color: white;
    width: 100%;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: bold;
    font-size: 2.5em;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;

}



.deck-selected-db {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid black;
}


.deck-selected-db:hover {
    text-decoration: underline;
    cursor: pointer;
    color:  #667eea;
    transform: scale(0.9);
}

.deck-selected-colors-imgs {
  height: 40px;
}

.deck-selected-format {
  color: white;
  background:  linear-gradient(135deg, #28a745 0%, #20c997 100%);
  border-radius: 30px;
  text-align: center;
  padding: 8px;
  font-size: 1.2em;
  margin: 0;
  min-width: 80px;
}

.deck-manacost {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid black;
    border-radius: 50%;
    background-color: grey;
    color: white;

    aspect-ratio: 1 / 1;
}

.deck-line-title-creator {
    position: relative;
    margin-top: 15px;
    color: grey;
    padding: 0;
}

.map-colors-container {
    display: flex;
    gap: 5px;
}


.like-number {
    position: relative;
    margin-top: 10px;
}


    .card-medium-body {
        display: flex;
        flex-direction: column;
        justify-content : center;
        align-items : center;
        gap: 15px;
    }


  .deck-selected-line-title {
      font-style: italic;
      font-size: 1.3em;
      color: black;
    }



  .card-deckbuilder {
    text-decoration: underline;
    cursor: pointer;
    color:  #667eea;
    text-align: center; 
    font-size: 1.8em;
  }

  .card-attribut-medium {
    font-size: 1.8em;
  }


  .deck-selected-card-medium-name-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }


  .deck-selected-card-medium, .deck-selected-card-medium-name {
    display: none;
  }


  .icon-like-object-selected {
    margin-top: -27px;
  }


/* Format de la carte large en-dessous de 1000px*/


@media (max-width: 1000px) {
  .new-deck-body,
  .deck-selected-line-title {
    font-size: 1.2em;
  }

  .deck-selected-db {
    font-size: 1.4em;
  }

  .deck-selected-format {
    font-size: 1em;
  }

  .deck-selected-pp {
    width: 200px;
    height: 200px;
  }

  .card-line-attribut h3 {
    font-size: 1.4em;
  }

  .deck-selected-colors-imgs {
  height: 30px;
}

  .card-like-number {
    font-size: 2.5em;
  }
}


@media (max-width: 700px) {
    .deck-card-desktop {
        display: none;
    }

    .deck-selected-card-medium {
         position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 30px;
        border: 1px solid #000000;  
        width: 80%;
        margin-left: 10%;
        margin-top: 0%;
        padding: 15px;
        }

     .deck-selected-card-medium-name {
        display: flex;
        gap: 5px;
        justify-content: center;
        background-color: #5D3B8C;
        color: white;
        width: 70%;
        max-width: 70%;
        overflow: hidden;
        padding: 1%;
        text-align: center;
        margin-bottom: 0%;
        font-size: 2em;
    }

}


@media (max-width: 500px) {

  .deck-selected-card-medium {
    display: none;
  }

  .deck-selected-card-medium-name {
    font-size: 1.5em;
  }


    .new-deck-card-desktop {
        display: none;
    }


    .deck-selected-line-title {
      font-size: 1rem;
      text-align: center;
      margin: 0;
  }

  .card-deckbuilder {
    font-size: 1em;
  }

  .card-like-number {
    font-size: 1.7em;
  }

  .icon-like-object-selected {
    margin-top: -18px;
  }

  .deck-selected-db {
    font-size: 1em;
    max-width: 150px;
    padding: 3%;
    overflow: hidden;
  }

}




/* Style pour les boutons de navigation */
.button-navig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%; 
    padding: 2%;
}

.button-navig:hover {
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

/* Style des boutons lors du survol */
button:hover {
    outline: none;
    background-color: #5D3B8C;
    color: white;
}


.icon-nav {
    font-size: 8em;
}



@media (max-width: 1400px) {

  .icon-nav  {
     font-size: 6em;
  
  }
}

@media (max-width: 1250px) {
    .button-navig {
        display: none;
    }

    .icon-nav  {
     font-size: 7em;
  
  }

  .icon-nav:hover  {
   transform: scale(0.9);
  }
}

@media (max-width: 700px) {
    .icon-nav  {
     font-size: 5em;
  
  }
}

@media (max-width: 500px) {
    .icon-nav  {
     font-size: 3em;
  
  }
}






/* Mapping des cartes du deck*/
 
.map-deck-cards {
    background-color: white;
    border-top: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-top: 3%;
    padding-bottom: 3%; 
    margin-bottom: 0%;

}

.title-container {
    position: relative;
    margin-top: 1%;
    margin-bottom: 5%;
}

.card-link-mobile, .cedh-link-mobile {
    display: none;
}




/* Style du numéro de la carte */
.number-card { 
    color: white;
    background-color: grey;
    border-radius: 50%;
    padding: 1%;
    position: absolute;
    margin-top: 15%; 
    margin-left: 12%;
}

/* Styles du texte et du nom de la carte */
.card-text, .card-name {
    color: black;
}

.line-creator {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 1%;
    gap: 2%;
}

.card-creator {
    color: blue;
    text-decoration:underline;
    cursor: pointer;
}

.line {
    border-bottom: 1px solid black;
    padding: 1%;
}

/* Styles des formats et de la rareté */
.card-rarity {
    display: inline-block;
    color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 30px;
}

/* Ligne de rareté */
.rarity-line {
    display: flex;
    flex-direction: row;
}

.rarity {
    margin-top: 4px;
}

/* Style de la section des couleurs */
.color {
    margin-top: 20px;
}

.mappingColor {
    display: flex;
    flex-direction: row;
}

.color-img-select {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    object-fit: cover;
    margin-top: 2px;
  }


@media (max-width: 500px) {

  .color-img-select {
    width: 20px;
    height: 20px;
  
  }
}


  .color-img-medium-select {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
  }




@media screen and (min-width: 1000px) and (max-width: 1600px) {


  .deck-card-large {
        margin-left: 15%;
        width: 70%;
    }

}

/*Bouton de like*/


.deck-like-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px; 
    margin-top: 2%; 
    margin-left: auto; 
    margin-right: auto;
}


.deck-like-icon {
    font-size: 1.6em;    
} 

.deck-like-icon:hover {
    transform: scale(0.9);
    color: black;
    
} 

/*Bouton de pioche*/


.draw-deck-container {
  border: 2px solid black;
  border-radius: 10px;
  gap: 10px;
} 


.icon-draw-deck {
  font-size: 3em;
  margin-top: 2px;
}

.draw-deck-p {
  font-size: 2em;

}

@media (max-width: 1500px) {
  .icon-draw-deck {
  font-size: 2em;
  margin-top: 2px;
}

.draw-deck-p {
  font-size: 1.5em;

}
}


@media (max-width: 500px) {

  .icon-draw-deck {
  font-size: 1em;
  margin-top: 0px;
  } 

  .draw-deck-p {
  font-size: 0.8em;

  }

}

/*Card du deck pour les formats medium*/


      .commandant-line {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        padding: 2%;
        align-items: center;
        gap: 10px; 
        margin-bottom: 10px; 
    }


@media screen and (min-width: 600px) and (max-width: 1600px) {

 .middle-line {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
        padding: 2%;
        align-items: center;
        gap: 10px; 
        margin-bottom: 10px; 
    }

    .last-line {
        display: flex;
        flex-direction: row;
        padding: 2%;
        align-items: center;
        justify-content: center;
        gap: 10px; 
        margin-bottom: 10px; 
        width: 100%;
    } 
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

   .deck-card-large {
        display: none;
    }


    .arrow-details-deck-container {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border-top: 1px solid black;
    }  
  
}

    .card-link-desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
    }

    .cedh-link-desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding: 2%;
      background-color:  #F2E4C1;
      border-radius: 10px;
    }

/*Card du deck pour les formats mobiles*/

  @media (max-width: 600px) {
    
    .card-link-desktop, .cedh-link-desktop {
        display: none;
    }

    .card-link-mobile {
        display: flex;
        border-radius: 10px;
    }

    .cedh-link-mobile {
        display: flex;
        padding: 2%;
        background-color:  #F2E4C1;
        border-radius: 10px;
    }
}
    
    .deck-card-large, .deck-card-medium, .deck-card-medium-name {
        display: none;
    }

    /* Card mobile*/

    

    .deck-mobile-creator:hover {
        background: none;
        padding: 0%;
        color: #5D3B8C;
    }


    .attribut-mobile-container {
        display: flex;
        justify-content: center;
        gap: 5px;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        min-width: 50%;
    }

      

    .arrow-details-deck-container {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border-top: 1px solid black;
    }  




    .card-value, .card-manacost, .card-cedh {
        font-size:large;
        text-align: center;
        margin-top: 10px;
        color: black;
    }

    .middle-line {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
        padding: 2%;
        align-items: center;
        gap: 10px; 
        margin-bottom: 10px; 
    }

    .last-line {
        display: flex;
        flex-direction: row;
        padding: 2%;
        align-items: center;
        justify-content: center;
        gap: 10px; 
        margin-bottom: 10px; 
        width: 100%;
    }

    .icons-deck-container {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 5px;
    }

    .deck-cards {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .land-details, .creature-details, .spell-details {

        padding: 5%;
    }


  .btn-draw-card {  
    height: 200px;
    width: 30%;
    border-radius: 30px; 
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 2%;
    border: 2px solid white;
}

  .nav-card-button {
    z-index: 999;
    border-radius: 10px;
  }

  .nav-card-button:hover {
    color: white;
    background-color: #5D3B8C;
  }

@media (max-width: 1550px) {

    .btn-draw-card { 
        width: 40%;
    }

}

@media (max-width: 1300px) {

    .deck-selected-pp { 
        width: 300px;
        height: 300px;
    }

}


@media (max-width: 1150px) {

    .btn-draw-card { 
        width: 50%;
    }

    .attribut-line-title {
      font-style: italic;
      font-size: 1.2em;
      color: black;
      margin-top: 15px;
  }

}

@media (max-width: 750px) {

    .btn-draw-card { 
        width: 70%;
        height: 200px;
    }

}

@media (max-width: 500px) {
    .button-navig {
        display: none;
    }

    .card-cedh {
        font-size: 0.9em;
    }

    .attribut-line-title {
      font-style: italic;
      font-size: 0.8rem;
      color: black;
      margin-top: 15px;
  }

   .format-line-title,
  .color-line-title {
    font-size: 0.8em;
    color: grey;
    margin: 0;
    font-style: italic;
  }


}

@media (max-width: 450px) {

    .btn-draw-card { 
        width: 90%;
        height: 150px;
    }

}

.btn-draw-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Graphique cartes*/


.stats-conatainer {
  border: 2px black solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

.graphics-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.graphic-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.graphic-container-type {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.graphic-title {
    color : white;
    background-color:  #5D3B8C;
    width: 100%;
    padding: 1%;
    text-align: center;
    margin-bottom: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.responsive-container {
    border: 1px black solid;
    padding-bottom: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-card-length-graphic {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}


.legend-graphic-types {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
        width: 100% ;
}

@media (min-width: 768px) {
.legend-graphic-types {
    display: none;
}
}

@media (max-width: 1300px) {

    .graphics-container {
        flex-direction: column;
        align-items: center;
    }

    .graphic-container, .graphic-container-type {
        width: 70%;
    }

}

@media (max-width: 900px) {

    .graphic-container, .graphic-container-type {
        width: 90%;
    }

}
