.map-decks-section {
     display: flex;
    flex-wrap: wrap;
    gap: 0 50px;
    justify-content: center;
    background-color: white;
    border-top: 1px solid black;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;  
    z-index: 1;
    flex-shrink: 0;
    padding-bottom: 5%;
    overflow: hidden;
}

/* La carte du deck mappé*/



.value-filter, .manaCost-filter {
    display: flex;
    flex-direction: column;
}

.button-value {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 5px;
    position: absolute;
    margin-left: 5%;
    width: 20%;

}
 
.value-filter {
    max-width: 20%;
}

.input-value-container {
    position: relative;
    margin-left: 12%;
    margin-top: 3%;
    width: 70px;

} 

.button-manaCost {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 5px;
    position: absolute;
    margin-left: 30%;
    width: 20%;

}

.input-manaCost-container {
    position: relative;
    margin-left: 37%;
    margin-top: 3%;
    width: 50px;

}

.button-colors {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 5px;
    position: absolute;
    margin-left: 55%;
    width: 20%;

}

.checkbox-color-container {
    position: relative;
    margin-left: 52%;
    margin-top: 3%;

}


.open-buttons {
    display: none;  
}


.button-date, .button-top {
    width: 200px;
    border-radius: 0%;

}
.button-content {
    margin-top: 10px;
}




.deckspage-like-icon:hover {
    transform: scale(0.9);
    color: black;
    
} 


.deck-page-pp {
    height: 200px;
}

.deck-hover-body {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }



 .deck-db {
    overflow: hidden;
    text-align: center;
    width: 200px;
 }

 .deck-db:hover {
    overflow: hidden;
    text-align: center;
    width: 200px;
    text-decoration: underline;
    color: #667eea;
    cursor: pointer;
    transform: scale(0.9);
 }

  @media (max-width: 600px) {

   .deck-details {
     width: 160px;
     height: 200px;
    }

    .decks-name {
        margin-top: 5px;
        font-size: 0.9em;
    }


    .deck-db-button {
        width: 100%;
        padding: 10%;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .deck-db {
        font-size: 0.8em;
    }

    .button-date, .button-top {
    font-size: 0.8em;
    border-radius: 0%;

    }

    .deck-pp { 
        height: 80px;
        width: 80px;
        border: 2px solid black;
    }

    .deck-named {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .deckspage-like-icon {
        font-size: 14px;
    }


  }

  @media (max-width: 500px) {

    

  }


  @media (max-width: 480px) {


    .map-decks-section {
         padding-top: 5%;
    }

  }

