
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
.home-page-container {
        display: flex;
        flex-direction: column;
    }


.banniere-container {
    width: 100%;
    height: 88vh;
    position: relative; 
    padding-top: 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.banniere-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; 
    object-position: center; 
}


.logo-img {
    z-index: 1;
    height: 320px;
}

@media (max-width: 700px) {
.logo-img {
    height: 250px;
}
}

@media (max-width: 400px) {
.logo-img {
    height: 200px;
}
}


.banniere-title {
    font-size: 3em;
    color: white;
    padding: 2%;
    opacity: 0.9;
    max-width: 90%;
    text-align: center;
    border-radius: 10px;
    color: #5D3B8C;
}


@media (max-width: 400px) {
.banniere-title {
    font-size: 2em;
}
}


.banniere-para {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2%;
    opacity: 0.9;
    max-width: 90%;
    text-align: center;
}

@media (max-width: 400px) {
.banniere-para {
    font-size: 1.2em;
}
}
.caroussel {
    margin-bottom: 0px;
}
.img-caroussel {
    width: 100%;
    max-height: 84vh;
    padding-top: 1px;
    background-color: white;
    object-fit: cover; 
    object-position: center;
    cursor: pointer;
}

.caroussel-navig {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 100;
    cursor: pointer;
}

.button-direction-caroussel {
    background: linear-gradient(180deg, #000000, #333333);
    border-radius: 50%;
    border: 4px solid #000000; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.button-direction-caroussel:hover {
    transform: scale(0.9);
}

.icon-nav-caroussel {
    font-size: 8em;
    color: white;
}

.legend-carroussel-container {
    background: linear-gradient(180deg, #000000, #333333);
    padding: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.9;
    position: absolute;
    top: 85%;
    pointer-events: none;
    opacity: 0.85;

}


.legend-carroussel {
    color: white;
}

 
.background-home {
    height: 90vh;
    width: 100%;
}





/*Bannière de la page*/

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90vh;
    width: 100%;
    z-index: 100;
}

.image-logo {
  height: 270px;
  width: 270px;
} 

.background-colors {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: green;
  overflow: hidden;
}


.elements-container {
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: transparent;
}


.top-objets-container {
    width: 100%;
    position : relative;
}

@media (max-width: 500px) {
    .top-cards {
       padding-top: 3%;
    }
}



@media (max-width: 1000px) {


    .homepage-color {
        width: 200px;
        height: 200px;
    }

    .colors-container img:nth-child(1) {
    transform: rotate(-90deg) translate(300px) rotate(90deg);
    }
    .colors-container img:nth-child(2) {
    transform: rotate(-18deg) translate(300px) rotate(18deg);
    }
    .colors-container img:nth-child(3) {
    transform: rotate(54deg) translate(300px) rotate(-54deg);
    }
    .colors-container img:nth-child(4) {
    transform: rotate(126deg) translate(300px) rotate(-126deg);
    }
    .colors-container img:nth-child(5) {
    transform: rotate(198deg) translate(300px) rotate(-198deg);
    }

    .image-logo {
        height: 230px;
        width: 230px;
    }

}

@media (max-width: 800px) {


    .homepage-color {
        width: 180px;
        height: 180px;
    }

    .colors-container img:nth-child(1) {
    transform: rotate(-90deg) translate(250px) rotate(90deg);
    }
    .colors-container img:nth-child(2) {
    transform: rotate(-18deg) translate(250px) rotate(18deg);
    }
    .colors-container img:nth-child(3) {
    transform: rotate(54deg) translate(250px) rotate(-54deg);
    }
    .colors-container img:nth-child(4) {
    transform: rotate(126deg) translate(250px) rotate(-126deg);
    }
    .colors-container img:nth-child(5) {
    transform: rotate(198deg) translate(250px) rotate(-198deg);
    }

    .image-logo {
        height: 200px;
        width: 200px;
    }

}

@media (max-width: 700px) {

    .background-colors {
        height: 70vh;
    }


    .homepage-color {
        width: 120px;
        height: 120px;
    }

    .colors-container img:nth-child(1) {
    transform: rotate(-90deg) translate(180px) rotate(90deg);
    }
    .colors-container img:nth-child(2) {
    transform: rotate(-18deg) translate(180px) rotate(18deg);
    }
    .colors-container img:nth-child(3) {
    transform: rotate(54deg) translate(180px) rotate(-54deg);
    }
    .colors-container img:nth-child(4) {
    transform: rotate(126deg) translate(180px) rotate(-126deg);
    }
    .colors-container img:nth-child(5) {
    transform: rotate(198deg) translate(180px) rotate(-198deg);
    }

    .image-logo {
        height: 150px;
        width: 150px;
    }

    .logo-container {
        height: 70vh;
    }

}


@media (max-width: 500px) {


    .homepage-color {
        width: 100px;
        height: 100px;
    }

    .colors-container img:nth-child(1) {
    transform: rotate(-90deg) translate(180px) rotate(90deg);
    }
    .colors-container img:nth-child(2) {
    transform: rotate(-18deg) translate(150px) rotate(18deg);
    }
    .colors-container img:nth-child(3) {
    transform: rotate(54deg) translate(180px) rotate(-54deg);
    }
    .colors-container img:nth-child(4) {
    transform: rotate(126deg) translate(180px) rotate(-126deg);
    }
    .colors-container img:nth-child(5) {
    transform: rotate(198deg) translate(150px) rotate(-198deg);
    }

    .image-logo {
        height: 150px;
        width: 150px;
    }

}

@media (max-width: 390px) {


    .homepage-color {
        width: 90px;
        height: 90px;
    }

    .colors-container img:nth-child(1) {
    transform: rotate(-90deg) translate(130px) rotate(90deg);
    }
    .colors-container img:nth-child(2) {
    transform: rotate(-18deg) translate(130px) rotate(18deg);
    }
    .colors-container img:nth-child(3) {
    transform: rotate(54deg) translate(130px) rotate(-54deg);
    }
    .colors-container img:nth-child(4) {
    transform: rotate(126deg) translate(130px) rotate(-126deg);
    }
    .colors-container img:nth-child(5) {
    transform: rotate(198deg) translate(130px) rotate(-198deg);
    }

    .image-logo {
        height: 130px;
        width: 130px;
    }


}

/*Liens vers les espaces du site*/


.title-section-container-desktop {
    display: flex
}

.title-section-container-mobile {
    display: none
}

@media (max-width: 1250px) {
    .title-section-container-desktop {
        display: none
    }

    .title-section-container-mobile {
        display: flex
    }
}

.home-nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.home-nav-card-container, .home-nav-deck-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}



.home-image {
    width: 40vw;
    border-radius: 10px;
    cursor: pointer;
}

.home-image:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    filter: brightness(1.5);

}

/* Top Cards */


.top3_cards-img-container {
    padding: 2%;
    background-color:  #F2E4C1;
    border-radius: 10px;
}


.top3_cards-img {
    width: 100%;   
    height: auto; 
    max-width: 220px; 
    object-fit: cover; 
    cursor: pointer; 
}

.top-card-img-zoom {  
    position: absolute;
    display: fixed; 
    pointer-events: none; 
    width: 350px;
    margin-top: -25%;
    min-height: 300px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
    animation: zoomFadeIn 0.4s ease-out forwards;

}



@media (max-width: 768px) {

    .top-card-img-zoom {  
        width: 220px;
    }
}

@media (max-width: 500px) {
    .top3_cards-img {
        max-width: 180px; 
    }

    .top-card-img-zoom {
       display: none;
    }
}



.deck-img { 
    width: 150px;   /* Définit la taille de l'image (ajustez selon vos besoins) */
    aspect-ratio: 1 / 1;
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* L'image couvre l'espace sans être déformée */
    cursor: pointer; /* Change le curseur en main lorsqu'on passe dessus */
    border: 5px solid black; /* Ajoute une bordure blanche autour de l'image */
    position: absolute;
    background-color: white;
}
 
.top3-decks-attributs {  
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 4px solid black;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top3-decks-button {
    border: 2px solid black;
}

.top3-decks-button:hover {
    color: white;
}

/* Styles pour les détails des cartes */
.top3-card-details, .top3-deck-details {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    justify-content: center;  /* Centre les éléments verticalement */
    align-items: center;  /* Centre les éléments horizontalement */
    padding: 15px;
    margin: 10px;
}

.top3-card-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


.top-card-likeNumber {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    font-size: 1.8em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.top-deck-likeNumber {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5%;
    font-size: 1.8em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}



@media (max-width: 768px) {



    .top3-card-details, .top3-deck-details {
        padding: 5px;
        margin: 5px;
        gap: 0px;
    }

    .top-card-likeNumber, .top-deck-likeNumber {
        font-size: 1.2em;
        gap: 5px;
    }

    .top3-decks-button {
        padding: 2%;
    }

    .top-decks-deckBuilderName {
        font-size: 0.6em;
    }

}

@media (max-width: 500px) {
    .top-card-likeNumber, .top-deck-likeNumber {
        font-size: 1em;
        gap: 5px;
    }
}


.top-cards, .top-decks {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 2%; 
    width: 90%;
    margin-left: 5%;
    position: relative;
}


/* Top Decks*/


.top3_decks-img-container {
    padding: 2%;
    background-color:  #F2E4C1;
    border-radius: 10px;
    width: 250px;
    height: 350px;
}

.top3-decks-attributs-mobile { 
        display: none;
}

@media (max-width: 768px) {
    .top3-decks-name {
        font-size: 1em;
    }

    .top3-decks-attributs { 
        display: none;
    }

    .top3-decks-attributs-mobile { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
}


.top-deck-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 30px;
    width: 235px;
    height: 320px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 2%;
}

@media (max-width: 500px) {
    .top-deck-details {
        width: 180px;
        height: 230px;
    }
}


.top-decks-deckBuilderName {
    color: black
}


.top-decks-deckBuilderName:hover {
    color: white
}

.top-deck-pp {  
    width: 130px;  
    height: 130px;
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover;
    cursor: pointer; /* Change le curseur en main lorsqu'on passe dessus */
    border: 4px solid black; /* Ajoute une bordure blanche autour de l'image */
    position: relative;
    background-color: white;
}

@media (max-width: 500px) {
    .top-deck-pp { 
      width: 90px;  
      height: 90px;
    }
}


.top-deck-name {
        margin-top: 5px;
        font-size: 1.3em;
        width: 100%;
        text-align: center;
    }

@media (max-width: 500px) {
    .top-deck-name { 
      font-size: 1em;
    }
}

.top-deck-db {
    max-width: 70%;
    overflow: hidden;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2em;
 }


 .top-deck-db:hover {
    overflow: hidden;
    text-align: center;
    text-decoration: underline;
    color: #667eea;
    cursor: pointer;
    transform: scale(0.9);
 }

 @media (max-width: 500px) {
    .top-deck-db {
    font-size: 0.8em;
    }
}


/* Le hover du deck*/


.hover-top-deck-card{
    position: absolute;
    display: fixed;
    pointer-events: none; 
    background-color: white;
    border-radius: 10px;
    border: 1px solid #000000;  
    width: 250px;
    padding: 4%;
    overflow: hidden;
    z-index: 2;
    animation: zoomFadeIn 0.2s ease-out forwards;
} 

.hover-top-deck-name{
    font-size: 1.5em;
    word-wrap: break-word;   
    overflow-wrap: break-word;
    text-align: center;
}

.hover-top-deck-card-img { 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #667eea;
    box-shadow: 0 4px 20px rgba(102, 126, 234, 0.3);
    background-color: white;
  }

@media (max-width: 600px) {

    .hover-deck-card-img {
        width: 120px;
        height: 120px;
    }

    .hover-deck-card {
        display: none;
    }


   }


.hover-top-deck-img { 
   width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #667eea;
    box-shadow: 0 4px 20px rgba(102, 126, 234, 0.3);
  }

.attribut-deck-top-line {
    color: grey;
    margin: 0;
    font-style: italic;
  }

.top-deck-hover-body {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    width: 100%;
    gap: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }




.hover-top3-deck-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: -1%;
    pointer-events: none; 
    background-color: white;
    border-radius: 30px;
    border: 1px solid #000000;  
    width: 25em;
    height: 635px;
    padding-left: 2%;
    padding-right: 2%;
    gap: 10px
} 

.hover-top3deck-name {
    font-size: 2.5rem;
    word-wrap: break-word;    /* Coupe les mots si nécessaire */
    overflow-wrap: break-word;

}


.attribut-topDeck {
    font-size: 1.5rem;
    color: grey;
    font-style: italic;
    margin: 0;
  }


.color-img-topDeck {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    object-fit: cover;
  }


.icon-nav-mapping {
    font-size: 8em;
    color: white;
    position: absolute;
    top: 35%;
    right: 5px;
    cursor : pointer;
    z-index: 99;
}

.icon-nav-mapping:hover {
    transform: scale(0.9);
}

@media (min-width: 950px) and (max-width: 1150px) {

    .icon-nav-mapping {
       position: relative;
    }
}

@media (max-width: 500px) {

    .icon-nav-mapping {
       position: relative;
       font-size: 5em;
    }
}


@media (max-width: 1250px) {
    .home-nav-container {
        flex-direction: column;
        gap: 50px;
    }

    .home-nav-card-container, .home-nav-deck-container {
        width: 100%;
    }

    .home-image {
      width: 70%;  
    }


}

/* Media query pour les écrans de 768px et moins (tablettes et mobiles) */
@media (max-width: 768px) {


    .home-page-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .home-image {
      width: 90%;  
    }

    .top-cards, .top-decks {
        flex-direction: column; /* Aligne les cartes en colonne sur les petits écrans */
        align-items: center; /* Centre les cartes */
    }

    .card-imgs, .deck-img {
        max-width: 200px; /* Réduit la taille de l'image à 90% de son conteneur */
    }

    .card-details, .deck-details {
        padding: 10px; /* Réduit l'espace autour des cartes */
    }

    .part-title {
        font-family: 'MedievalSharp', cursive;
        font-size: 1.8em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .hover-top3-deck-card{
        display: none;
    }
}

/* Media query pour les écrans de 480px et moins (mobiles très petits) */
@media (max-width: 480px) {
    .title-cards, .title-decks {
        width: 50%;
    }
    
    .card-imgs {
        max-width: 60%; 
    }

    .deck-img {
      height: 150px;
      width: 150px;
      border: 2px solid black;
    }

    .top-cards, .top-decks {
        gap: 15px; /* Réduit l'espacement entre les cartes */
    }

    .part-title {
        font-family: 'MedievalSharp', cursive;
        font-size: 1.5em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}
